# have view and evaluation and resolution
# this just resolution and evalutate

 Func
!ge(x,y)   = x>=y

 goal
[name,id,age,card].[-Pers(name,age),-Adduser(name,id),-ge(age,20),-Pay(name,id,card)]

# ge is executable, R,Pay are resolved.
# View for P, Q

 Base

[].[+Pers(Ben,18)]
[].[+Pers(Chess,22)]

[].[+Adduser(Ben,18)]
[].[+Adduser(Chess,99)]

[].[+Pay(Ben,18,0)]
[].[+Pay(Chess,99,99999999)]


&Pers(NAME, AGE)
&Adduser(NAME!, ID)
&Pay(NAME!,ID!,CARD)

